@import "node_modules/bootstrap/dist/css/bootstrap";
@import "node_modules/font-awesome/css/font-awesome";

@import "~datatables.net-bs/css/dataTables.bootstrap";

.table-actions {
  width: 80px;
  margin: auto;
  text-align: center;
}

#product-list-table {
  .form-control {
    width: inherit !important;
  }
  textarea {
    overflow: hidden !important;
  }
}
#header {
  padding: 4rem 0 5rem 0;
}
#main {
  overflow: hidden;
}
#footer {
  padding-top: 4rem;
}
#add-lists-form {
  width: 30%;
  padding: 2rem 1rem;
  border: 1px solid #ddd;
  background: #f5f5f5;
  border-radius: 2px;
  margin: auto;

  textarea {
    resize: vertical;
  }
}
.add-form {
  padding-bottom: 13rem;
}
input.error {
  border-color: red;
}